

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">




<h2>{{title}}</h2>
<h2>{{AcliZon}}</h2>


<section class="min-container ">
  <div class="card-panel  position-relative">

  <form>
    


    <div class="form-group position-relative">       
      <input class="form-control" id="email" name="email" type="text" placeholder="Email">
      <i class="fa fa-user  position-absolute"></i>
    </div>


    <div class="position-relative">
      <input class="form-control" id="pswd" name="password" type="password" placeholder="Pswd">        
      <i class="fa fa-lock  position-absolute"></i>
    </div>
    


  </form>

  
</div>
</section>



<br>
<br>


