.form-group a i {
    /*font-family: FontAwesome;*/
    margin: 0 auto;
    font-size: 5rem;
    font-style: normal;
  }
  
  .min-container .card-panel form .fa {
    top: 13px;
    right: 1rem;
  }
  
  /* Media Queries */
  
  @media (min-width: 768px) {
    .min-container {
      max-width: 650px;
    }
  }
  
  .min-container {
    margin: 0 auto;
  }
      
  #fghj {
      display: block;
      margin-top: 0em;
  }




// **************   CSS for radiobutton  ************


