
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">


<div class="body">
    <div class="roww row-wt-box">
        <div class="roww coll-6 row-1st-align">
            <div class="jj">jj</div>
            <div class="row-1st-block1">
                <div class="name-style">
                    Shivam Goyal
                </div>
                <div class="add-style">
                    DPS, GURUGRAM
                </div>
            </div>
            <div class="row-1st-block1">
                <div class="text-1">
                    Level
                </div>
                <div class="text-2">
                    1
                </div>
            </div>
            <div>
                <div class="text-1">
                    Standard
                </div>
                <div class="text-2">
                    12th
                </div>
            </div>
        </div>
        <div class="coll-6">
            <div class="roww row-1st-align2">
                <div>
                    <i class="fa fa-phone blue1" aria-hidden="true"></i>
                </div>
                <div class="phone-num">
                    +50 123 456 78
                </div>
                <div class="mail-icon">
                    <i class="fa fa-envelope blue1" aria-hidden="true"></i>
                </div>
                <div class="mail-id">
                    davidheree@mail.com
                </div>
            </div>
        </div>
    </div>

    <div class="row-wt-box1">
        <div class="roww coll">
            <div class="sec-text">
                Security
            </div>
            <button class="cancel-btn">
                Cancel
            </button>
            <button class="save-btn">
                Save Changes
            </button>
        </div>
        <div class="roww pswd-box-row">
            <div class="coll-4">
                <div class="cp-text">
                    <label for="cupswd">Current Password</label>
                </div>
                <div>
                    <input type="text" class="cp-input-box" id="cupswd" name="cupswd" placeholder="Placeholder">
                </div>
            </div>

            <div class="coll-4 pswd-box">
                <div class="cp-text">
                    <label for="npswd">New Password</label>
                </div>
                <div>
                    <input type="text" class="cp-input-box" id="npswd" name="npswd" placeholder="Placeholder">
                </div>
            </div>

            <div class="coll-4 pswd-box">
                <div class="cp-text">
                    <label for="conpswd">Confirm New Password</label>
                </div>
                <div>
                    <input type="text" class="cp-input-box" id="conpswd" name="conpswd" placeholder="Placeholder">
                </div>
            </div>
        </div>

    </div>

    <div class="row-wt-box2">
        <div class="sec-text">
            Attempted tests
        </div>
        <div class="roww">
            <div class="coll-3 tst-crd"></div>
            <div class="coll-3 tst-crd"></div>
            <div class="coll-3 tst-crd"></div>
            <div class="coll-3 tst-crd"></div>
        </div>
    </div>

</div>



