
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">


<div class="body">
    <div class="an-style">
        Analysis for JEE Main Full Test-18 (2020-21) (JEE Mains)
    </div>
    <div class="roww">
        <div class="coll-5 sr-box-1">
            <div class="roww srv-box-1">
                <div class="ii">ii</div>
                <div class="srv-text">
                    Score Analysis
                </div>
            </div>
            <div class="roww srf-set">
                <div class="srf-text-1">
                    Your Score  
                </div>
                <div class="srf-set-2 srf-text-2">
                    0 out of 120 (0.0%)
                </div>
            </div>
            <div class="roww srf-set">
                <div class="srf-text-1">
                    Percentile
                </div>
                <div class="srf-set-2 srf-text-2">
                    0.0 Percentile
                </div>
            </div>
            <div class="roww">
                <div class="srf-text-1">
                    Cut Off
                </div>
                <div class="srf-set-2 srf-text-2">
                    30%
                </div>
            </div> 
        </div>
        <div class="coll-3 sr-box-2">
            <div class="roww srv-box-1">
                <div class="ii">ii</div>
                <div class="srv-text">
                    Experience Points (XP)
                </div>
            </div>
            <div class="roww">
                <div class="jj">jj</div>
                <div>
                    <div class="roww">
                        <div class="srf-text-3">
                            1450 Xp
                        </div>
                        <div class="srf-text-4">
                            +580
                        </div>
                    </div>
                    <div class="pro-line">
                        <div class="pro-line-in"></div>
                    </div>
                    <div class="srf-text-5">
                        450/500 Xp
                    </div>
                    <div class="srf-text-6">
                        Level 3 - Erudite
                    </div>
                </div>
            </div>
        </div>
        <div class="coll-3 sr-box-2">
            <div class="roww srv-box-1">
                <div class="ii">ii</div>
                <div class="srv-text">
                    Expected Rank
                </div>
            </div>
            <div class="srf-text-7">
                300000+ JEE Mains
            </div>
        </div>
    </div>

    <div class="roww an-row3">
        <div class="coll-5 an-row3-box1">
            <div class="sr-box-3">
                <div class="roww an-row3-sub1">
                    <div class="ii">ii</div>
                    <div class="srv-text">
                        Score Summary
                    </div>
                </div>
                <div class="srv-text-1">
                   This table summerises your score in the three categories: 
                </div>
                <div class="roww">
                    <div class="coll-4 score-box-set">
                        <div class="score-box">
                            <div class="sc-box-text">
                                Correct
                            </div>
                            <div class="srv-text-2">
                                No of correct attempts
                            </div>
                        </div>
                    </div>
                    <div class="coll-4 score-box-set">
                        <div class="score-box">
                            <div class="sc-box-text">
                                Wrong
                            </div>
                            <div class="srv-text-2">
                                No of correct attempts
                            </div>
                        </div>
                    </div>
                    <div class="coll-4 score-box-set-1">
                        <div class="score-box">
                            <div class="sc-box-text">
                                Not Attempted
                            </div>
                            <div class="srv-text-2">
                                No of correct attempts
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <table>
                    <tr>
                      <th>Subject</th>
                      <th>Correct</th>
                      <th>Wrong</th>
                      <th>Not Attempted</th>
                      <th>Score</th>
                    </tr>
                    <tr>
                      <td>Chemistry</td>
                      <td>0</td>
                      <td>0</td>
                      <td>30</td>
                      <td>0</td>
                    </tr>
                    <tr>
                        <td>Physics</td>
                        <td>0</td>
                        <td>0</td>
                        <td>30</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>Math</td>
                        <td>0</td>
                        <td>0</td>
                        <td>30</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td>0</td>
                        <td>0</td>
                        <td>30</td>
                        <td>0</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="coll-6x an-row3-box2">
            <div class="sr-box-3">
                <div class="roww an-row3-sub1">
                    <div class="coll-7 aq-set roww">
                        <div class="ii">ii</div>
                        <div class="srv-text">
                            Attempt Quality
                        </div>
                    </div>
                    <div class="coll-5">
                        <button class="qan-button">
                            Questionwise Analysis
                        </button>
                    </div>
                </div>

                <div class="roww aq-box-row">
                    <div class="coll-3 score-box-set">
                        <div class="score-box">
                            <div class="sc-box-text">
                                Ranker's Attempt
                            </div>
                            <div class="srv-text-2">
                                You solved it correct and within the expected time.
                            </div>
                        </div>
                    </div>
                    <div class="coll-3 score-box-set">
                        <div class="score-box">
                            <div class="sc-box-text">
                                Fine Attempt 
                            </div>
                            <div class="srv-text-2">
                                You solved it correct and more than expected time.
                            </div>
                        </div>
                    </div>
                    <div class="coll-3 score-box-set-1">
                        <div class="score-box">
                            <div class="sc-box-text">
                                Fluke Attempt
                            </div>
                            <div class="srv-text-2">
                                Though you took less time, you marked the wrong option.
                            </div>
                        </div>
                    </div>
                    <div class="coll-3 score-box-set-1">
                        <div class="score-box">
                            <div class="sc-box-text">
                                Wasted Attempt
                            </div>
                            <div class="srv-text-2">
                                You attempted was incorect and took more time than expected.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <table class="table-2nd">
                        <tr>
                          <th>Subject</th>
                          <th>Ranker's Attempt</th>
                          <th>Fine Attempt</th>
                          <th>Fluke Attempt</th>
                          <th>Wasted Attempt</th>
                        </tr>
                        <tr>
                          <td>Chemistry</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                        </tr>
                        <tr>
                            <td>Physics</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Math</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Total</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

