<div class="container test-plane">
    <div class="row b_row">
        <div class="col">
            <img class="image-tst" src="txt.png">
        </div>
        <div class="col-6">
            <div class="text-1">
                <b>Part Test - Biology Advanced JEE MAINS</b>
            </div>
            <div class="text-2">
                90 Questions . 300 Marks
            </div>
        </div>
        <div class="col-2">
            <button class="button_1">
                <b>180 min</b>
            </button>
        </div>
        <div class="col-2"></div>
        <div class="col"></div>			
    </div>
    <div>
        <h4><b>Marks</b></h4>
    </div>
    <div class="text-2">
        There are 3 sections in the question paper consisting of Physics , Chemistry and Mathematics having 25 questions in each section.
    </div>
    <div>
        <select class="test-selector"> 
            <option value="xa">Single Correct answer questions</option> 
            <option value="xb">Xb</option> 
            <option value="xc">Xc</option> 
            <option value="xd">Xd</option> 
        </select> 
    </div>
    <div>
        <select class="test-selector"> 
            <option value="xa">Multi Correct answer questions</option> 
            <option value="xb">Xb</option> 
            <option value="xc">Xc</option> 
            <option value="xd">Xd</option> 
        </select> 
    </div>
    <div>
        <select class="test-selector-2"> 
            <option value="xa">Numeric answer questions</option> 
            <option value="xb">Xb</option> 
            <option value="xc">Xc</option> 
            <option value="xd">Xd</option> 
        </select> 
    </div>
    <div class="c_row">
        <div>
            <h4><b>Navigation</b></h4>
        </div>
        <!--container-->
        <div class="ant-collapse-content ng-tns-c264-3 ng-trigger ng-trigger-collapseMotion" style="height: 0px; overflow: hidden; border-top-width: 0px;">
          <div class="ant-collapse-content-box ng-tns-c264-3">
            <div _ngcontent-opr-c354="" class="ng-tns-c264-3">
              Not implemented!!
            </div>
          </div>
        </div>
        <!--container-->
        <div class="text-2">
            90 questions each for Physics, Chemistry and Maths.
        </div>
        <div class="text-2">
            90 questions each for Physics, Chemistry and Maths.
        </div>
        <div class="text-2">
            There are 3 sections in the question paper consisting of Physics , Chemistry and Mathematics having 25 questions in each section.
        </div>
        <div class="text-2">
            There are 3 sections in the question paper consisting of Physics , Chemistry and Mathematics having 25 questions in each section.
        </div>
    </div>
    <div class="row cb_row">
        <div class="col-8"></div>
        <div class="col-2">
            <div class="text-3">
                <b>Go Back</b>
            </div>
        </div>
        <div class="col-2">
            <button class="button_2">
                <b>Start Test</b>
            </button>
        </div>
    </div>		
  </div>